h1 {
    color: rgb(123, 45, 197);
}

h2 {
    color: rgb(255, 44, 202);
    padding: 1rem;
}

body {
    font-family: Verdana, sans-serif;
    background-color: rgb(80, 27, 129);
    color: #FFF;
    font-size: 20px;
}

footer h1 {
    color: yellow;
}

tr:first-child td
{
    text-align: center;
}