.topnav {
    background-color: rgb(255, 44, 202);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: rgb(123, 45, 197);
    color: rgb(255, 44, 202);
  }

  .topnav a.active {
    background-color: rgb(123, 45, 197);
    color: rgb(255, 44, 202);
  }


h1 {
    color: rgb(123, 45, 197);
    font-size: 2em;
    /*letter-spacing: 4px;*/
}

h2 {
    color: rgb(255, 44, 202);
    font-size: 1.5em;
    padding: 1rem;
}



body {
    font-family: Roboto, Verdana, Arial, Sans Serif ;
    background-color: rgb(80, 27, 129);
    color: #FFF;
    font-size: 20px;
    line-height: 1.5;
}



:root {
  --primary-color: yellow;
}

footer h1 {
    color: var(--primary-color);
}

button {
  padding: 1rem;
  background-color: var(--primary-color);
  font-size: 2rem;
}

input {
  text-overflow: ellipsis;
}

.clases {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr .5fr;
  grid-gap: 10px;
  grid-auto-rows: auto repeat;
}

.clase3 {
  grid-column: 2 / 4;
  grid-row: 1;
}

.clase4 {
  grid-column: 2 / 4;
  grid-row: 2;
}

.clase5 {
  grid-column: 2 / 4;
  grid-row: 3;
}

.clase6 {
  grid-column: 2 / 4;
  grid-row: 4;
}

.clase7 {
  grid-column: 2 / 4;
  grid-row: 5;
}

.clase8 {
  grid-column: 2 / 4;
  grid-row: 6;
}

.clase9 {
  grid-column: 2 / 4;
  grid-row: 7;
}
.clase10 {
  grid-column: 2 / 4;
  grid-row: 8;
}

.clase11 {
  grid-column: 2 / 4;
  grid-row: 9;
}


/*clases*/

.container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr; 
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  padding-top: 20px;
}

.container img {
  max-width: 400px;
}

.imagen1 {
  grid-row: 1;
  grid-column: 2;
}

.imagen2 {
  grid-row: 1;
  grid-column: 3;
}

.imagen3 {
  grid-row: 2;
  grid-column: 2;
}

.imagen4 {
  grid-row: 2;
  grid-column: 3;
}

.imagen5 {
  grid-row: 1 / 4;
  grid-column: 4;
}

@media only screen and (max-width: 900px) {

.container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr; 
  grid-template-rows: 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.container img {
  max-width: 400px;
}

.imagen1 {
  grid-row: 1;
  grid-column: 2;
}

.imagen2 {
  grid-row: 2;
  grid-column: 2;
}

.imagen3 {
  grid-row: 3;
  grid-column: 2;
}

.imagen4 {
  grid-row: 4;
  grid-column: 2;
}

.imagen5 {
  grid-row: 6 / 8;
  grid-column: 2;
}

}


.textosobremi {
  grid-row: 1;
  grid-column: 2 / 5;
}