.topnav {
    background-color: rgb(255, 44, 202);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: rgb(123, 45, 197);
    color: rgb(255, 44, 202);
  }

  .topnav a.active {
    background-color: rgb(123, 45, 197);
    color: rgb(255, 44, 202);
  }


h1 {
    color: rgb(123, 45, 197);
    font-size: 2em;
    /*letter-spacing: 4px;*/
}

h2 {
    color: rgb(255, 44, 202);
    font-size: 1.5em;
    padding: 1rem;
}

body {
    font-family: Roboto, Verdana, Arial, Sans Serif ;
    background-color: rgb(80, 27, 129);
    color: #FFF;
    font-size: 20px;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.5;
}



:root {
  --primary-color: yellow;
}

footer h1 {
    color: var(--primary-color);
}

button {
  padding: 1rem;
  background-color: var(--primary-color);
  font-size: 2rem;
}

input {
  text-overflow: ellipsis;
}